<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/login_page.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <%- include('partials/_header') %>
  <h1>LOGIN PAGE</h1>
  <form class="p-4" action="/login" method="POST">
    <p>Email ID</p>
    <input name="email" type="email">
    <p>Password</p>
    <input name="password" type="password" />
    <button type="submit">Login</button>
  </form>
  <form method="GET" action="/register">
    <p class="message">Are you register? <a href="/registration"> If not, Create an Account</a></p>
  </form>
</body>

</html>